numpy
pandas
scikit-learn
scipy
plotly
torch
torchvision

opencv-python-headless
Pillow

albumentations

PyYAML
python-dotenv

tqdm
matplotlib
seaborn

fastapi
uvicorn
python-multipart
pydantic

streamlit
requests

pytest
httpx

prometheus-client

mlflow

gradio
