numpy
pandas
scikit-learn
scipy

torch
torchvision

opencv-python
Pillow

albumentations

PyYAML
python-dotenv

tqdm
matplotlib
seaborn

FastAPI
uvicorn
python-multipart
pydantic

streamlit
requests

pytest
httpx

prometheus-client

mlflow
opencv-python 
gradio
opencv-python-headless